body{
  margin: 0;
  overflow: hidden;
}
.slideshow{
  width: 100%;
  position: relative;
  overflow: hidden;
}

.navButton{
font-size: 50px;
font-weight: bold;
position: absolute;
color: white;
margin-top: -40vw;
padding: 10px;
opacity: 0;
transition: opacity 0.5s;
}

.slideshow:hover .navButton{
  opacity: 1;
}

#leftButton{
}

#rightButton{

  padding-left: calc(100vw - 35px);
}

.sizing{
  object-fit: cover;
  width: 100vw;
height: 70vw;
opacity: 0;
transition: opacity 0.5s;
}

@media screen and (hover: none) {
  .navButton{
    opacity: 1;
  }
}
